
params {
  genomes {
    'hg19' {
      x                    = "/home/nsheff/code/refgenie_sandbox/hg19/y/default/"
    'rCRSd' {
      bowtie2_index        = "/home/nsheff/code/refgenie_sandbox/rCRSd/bowtie2_index/default/rCRSd"
      fasta                = "/home/nsheff/code/refgenie_sandbox/rCRSd/fasta/default/rCRSd.fa"
      hisat2_index         = "/home/nsheff/code/refgenie_sandbox/rCRSd/hisat2_index/default/"

  }
}
